/* Default styling is for mobile */
body {
  font-family: "Karla", sans-serif;
  background-color: #e6eef7;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 100%;
  margin: 0 auto; /* Center the grid container */
  margin-top: 3.1rem;
  padding: 20px; /* Add some padding for spacing */
  box-sizing: border-box; /* Include padding in max-width calculation */
}
.grid-item {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

#join {
  background-color: #ffffff;
}

#subscription {
  background-color: #2bb3b1;
}

#why {
  background-color: #4bbfbd;
}

footer {
  margin-top: 3rem;
  text-align: center;
}
